@model IEnumerable<RecipesASPCoreMVCWebApp.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ingredients)
            </th>
            @*
                 //  hide preparation method and preparion time from recipes landing page - 
            <th>
                @Html.DisplayNameFor(model => model.PrepTime)
            </th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.CookingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servings)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeCat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servings)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
